<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Forum</title>
    <link rel="stylesheet" href="../CSS/home.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-left">
                <img src="../IMAGE/Logo TITUS.png" alt="Logo" class="logo">
            </div>
            <div class="title-container">
                <h1 class="welcome-text">Welcome to TITUS</h1>
                <p>TITUS is a forum where you can share your opinions, debate, exchange, discuss with other users as long as respect for others and their opinions is not compromised. Here, you're free! </p> 
                <p>You must be logged in to your account to view posts, have created a post, a comment or liked someone else's post !</p> 
            </div>
            <div class="header-right">
                <img src="../IMAGE/Avatar 0.jpg" alt="Avatar" class="avatar" id="profileAvatar">
            </div>
            <nav>
                <ul>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <h2>Last Posts</h2>
            <div class="post">
                <h3>Legalization of firearms</h3>
                <p>here you can discuss the legalization of firearms in the united states and in your country.</p>
                <p><a href="login.html">Read more...</a></p>
            </div>
            <div class="post">
                <h3>Trump</h3>
                <p>The future of the United States and the world.</p>
                <p><a href="login.html">Read more...</a></p>
            </div>
            <!-- Ajoutez plus de posts ici -->
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Forum. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
