<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum TITUS</title>
    <link rel="stylesheet" href="../CSS/home.css">
</head>
<body>
    <header>
        <div class="left-elements">
                <img src="../IMAGE/Logo TITUS.png" alt="Logo TITUS">
                <h1>Forum TITUS</h1>
            </div>
        <div class="right-elements">
            <a href="profile.html">
                <img id="homeAvatar" src="../IMAGE/Avatar 0.jpg" alt="Profil_Avatar">
            </a>
            <a href="login.html" class="button">Login</a>
            <a href="register.html" class="button">Register</a>
        </div>
    </header>
    <main>
        <div class="left-section">
         
        </div>
    </main>

    <footer>
</footer>
</body>
</html>
