<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum TITUS</title>
    <link rel="stylesheet" href="../static/style/home.css">
</head>
<body>
    <header>
        <div class="left-elements">
                <img src="../static/images/logo forum.png" alt="Logo TITUS">
        </div>
        <div class="center-elements">
            <h1>FORUM TITUS</h1>
        </div>
        <div class="right-elements">
            <a href="Profil.html">
                <img id="homeAvatar" src="../static/images/Avatar profil.jpg" alt="Profil_Avatar">
            </a>
        </div>
    </header>
    <main>
        <div class="left-section">

        </div>
    </main>

    <footer>
</footer>
</body>
</html>