<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Post.Title}}</title>
    <link rel="stylesheet" href="../CSS/post.css">
</head>
<body>
    <header>
        <h1>{{.Post.Title}}</h1>
    </header>
    <main>
        <div class="post-content">
            <p>{{.Post.Content}}</p>
        </div>
        <div class="likes-dislikes">
            <button onclick="likePost({{.Post.ID}})">Like</button> <span id="like-count">{{.Post.Likes}}</span>
            <button onclick="dislikePost({{.Post.ID}})">Dislike</button> <span id="dislike-count">{{.Post.Dislikes}}</span>
        </div>
        <div class="comments-section">
            <h2>Comments</h2>
            {{range .Comments}}
            <div class="comment">
                <p>{{.Content}}</p>
            </div>
            {{end}}
            <form action="/create-comment" method="post">
                <input type="hidden" name="post_id" value="{{.Post.ID}}">
                <label for="content">Add a comment:</label>
                <textarea name="content" id="content" cols="30" rows="5"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
    <script>
        function likePost(postID) {     
        }

        function dislikePost(postID) {
        }
    </script>
</body>
</html>