<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions and Privacy Policy</title>
    <link rel="stylesheet" href="../static/privacy_policy.css">
</head>
<body>
    <header>
        <h1>Terms & Conditions and Privacy Policy</h1>
    </header>
    <main>
        <section>
            <h2>General terms and conditions</h2>
            <p>Use of the TITUS Forum implies acceptance of the following conditions:</p>
            <p>1. Presentation: Forum TITUS is a free French website, open to all.</p>
            <p>2. Personal data: Registration information will be used for information purposes only. No civil information is required.</p>
            <!-- Ajoutez d'autres points des conditions générales -->
        </section>
        <section>
            <h2>Privacy policy</h2>
            <p>The TITUS Forum collects personal information such as email address, pseudonym, etc.. This information is not passed on to third parties.</p>
            <p>In accordance with the French Data Protection Act no. 78-17 of January 6, 1978, Users have the right to access, modify and delete their personal data.</p>
            <!-- Ajoutez d'autres détails sur la politique de confidentialité -->
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Forum. All rights reserved.</p>
    </footer>
</body>
</html>
